body {
	background-color: rgb(0, 0, 0);
	margin: 40px auto;
	max-width: 800px;
	line-height: 1.6;
	font-size: 18px;
	color: rgb(65, 177, 43);
    padding: 0 10px;
    text-align: center;
}

a:link {
	color:rgb(65, 177, 43);
 }

a:active {
	color:rgb(65, 177, 43);
}

a:visited {
	color:rgb(65, 177, 43);
}

a:hover {
	color:rgb(65, 177, 43);
}

nav {
	text-align: center;
}

p a{
	text-decoration:none;
}

nav a{ 
	text-decoration: none;
	padding: 0 15px;
}

img {
    display: block;
    margin: 0 auto;
}

h1,h2,h3 {
    text-align: center;
	line-height: 1.2;
}

h3 {
	font-weight: normal;
}

li {
	font-weight: normal;
}

footer p {
	text-align: right;
	line-height: .6;
}

footer a {
	text-decoration: none;
}

body {
	background-image: url("static_.jpg");
	background-repeat: repeat;
	background-color: #000000;
	
}